In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [2]:
# Import the data
path='Resources/lending_data.csv'
df= pd.read_csv(path)
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
X=df.drop(columns='loan_status')

In [4]:
X.keys()

Index(['loan_size', 'interest_rate', 'borrower_income', 'debt_to_income',
       'num_of_accounts', 'derogatory_marks', 'total_debt'],
      dtype='object')

In [5]:
y=df['loan_status']

In [16]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [17]:
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
29175,8600.0,6.792,44500,0.325843,3,0,14500
23020,7800.0,6.419,41000,0.268293,2,0,11000
31269,10000.0,7.386,50100,0.401198,4,1,20100
35479,9300.0,7.093,47300,0.365751,3,0,17300
13470,9200.0,7.045,46900,0.360341,3,0,16900

In [18]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression

In [19]:
lr=LogisticRegression()
lr.fit(X,y)

LogisticRegression()

In [22]:
# Train a Logistic Regression model print the model score
lr.score(X_train, y_train)

0.9920553033429633

In [25]:
len(X_train)/len(X)

0.75

In [29]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
fc=RandomForestClassifier()
fc.fit(X_train,y_train)
fc.score(X_train, y_train)

0.9975237309120925

The random forest classifier had the better score and this confirms the predictions that the random forest classifier is more accurately.

The final results supports the random forest classifier as more accurate and gave a better score when compared to logistic regression. The also the random forest performs better with catagorical data and can handle outliers better.